/* Write your CSS here */
.bg_color {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos_bg {
  background-color: #ffffff;
  min-height: 80vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
h1 {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 34px;
  border-radius: 10px;
}
